/** ----------------------------------------*/
/** animation rotate-center*/
/** ----------------------------------------*/
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        margin-left: 10px;

    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        margin-left: 2000px;
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
        margin-left: 10px;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
        margin-left: 2000px;
    }
}
/** ----------------------------------------*/
/** End animation rotate-center*/
/** ----------------------------------------*/
* {
    margin: 0;
    padding: 0;
}
.chessboard {
    margin-left: 10px;
    margin-top: 10px;
    width: 500px;
    height: 500px;
    border: solid 1px black;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 10%);
    font-size: x-large;
    font-weight: 900;
}
.chessboard_on_hover {
    -webkit-animation: rotate-center 1s ease-in both;
    animation: rotate-center 1s ease-in both;
}

.chessboard__cell_border-top {
    transform: rotate(180deg);
    text-align: center;
    padding-top: 20%;
    background-color: khaki;
    border-top: solid 2px black;
}
.chessboard__cell_empty {
    background-color: khaki;
}
.chessboard__cell_black {
    background-color: #000000;
}
.chessboard__cell_wight {
    background-color: khaki;
}
.chessboard__cell_border-left {
    line-height: 50px;
    text-align: right;
    padding-right: 20%;
    border-right: solid 2px black;
    background-color: khaki;
}
.chessboard__cell_border-right {
    line-height: 50px;
    text-align: left;
    padding-left: 20%;
    border-left: solid 2px black;
    background-color: khaki;
}
.chessboard__cell_border-bottom {
    text-align: center;
    padding-top: 20%;
    background-color: khaki;
    border-top: solid 2px black;
}
